body.project_1_compare {
  width: 70em;
}

.section {
  clear: both;
  margin-bottom: 3em;
}

.section img {
  border: solid 1px #333;
  background-color: #f9f9f9;
  display: block;
  margin: 0;
  padding: 1em;
}

pre.code {
  background-color: #f9f9f9;
  border: 1px solid #333;
  clear: both;
  color: #333;
  font-size: 11px;
  padding: 1em;
}

pre.code.correct {
  background-color: #deedad;
  border-color: #b7d84b;
}

pre.code.incorrect {
  background-color: #f2d7a8;
  border-color: #e2a741;
}

pre.code ol {
  margin: 0;
  padding: 0;
}

/* div specific */

div#header {
  clear: both;
}

div#aside {
  float: left;
  width: 21em;
}

div#article {
  float: right;
  width: 48em;
}

div#footer {
  clear: both;
}

/* images */

#tree img {
  display: block;
  margin: 0 auto;
}

#namespace img {
  float: right;
  margin: 0 0 1em 1em;
}

#case img,
#close_tags img {
  float: left;
  margin: 0 1em 1em 0;
}

#case img {
  margin: 0 1em 1em 0;
  width: 6em;
}

#close_tags img {
  width: 16em;
}

/* table specific */

table#wrapper, table#wrapper tr, table#wrapper td {
  border: none;
  margin: 0;
  padding: 0;
}

table#wrapper td#aside {
  text-align: left;
  vertical-align: top;
  padding-right: 1em;
  width: 21em;
}

table#wrapper td#article {
  width: 48em;
}

table#wrapper #footer h2 {
  margin-top: 0;
}

table#article_wrapper, table#article_wrapper tr, table#article_wrapper td {
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

table.section {
  width: 100%;
}

table.section h3 {
  margin-top: 0;
}

table.section td {
  vertical-align: top;
}

table.section .last {
  margin-bottom: 0;
}
