p.first {
  text-align: left;
}

blockquote {
  border-left: solid 0.2em #ccc;
  font-style: italic;
  margin-left: 0;
  padding-left: 1em;
}

blockquote.second {
  text-align: justify;
}

pre.third {
  text-align: right;
}

span.caps{
  font-variant: small-caps;
}

span.underlined {
  text-decoration: underline;
}

span.striked {
  text-decoration: line-through;
}

span.super_striked {
  text-decoration: overline;
}

span.colourful {
  color: #df31a9;
}

u.colourful {
  color: #ff0;
}

u.colourful span.colourful {
  color: #00ad31;
}

cite {
  font-style: italic;
}

ol.first {
  list-style-type: upper-roman;
}

ol.second {
  list-style-type: lower-greek;
}

ul.third {
  list-style-type: square;
}

ul.fourth {
  list-style-type: circle;
}

dt {
  font-weight: bold;
}

table.first {

}

img.logo, .youtube_movie, iframe.nested {
  border: solid 1px #333;
  background-color: #f9f9f9;
  display: block;
  margin: 1em auto;
  padding: 1em;
}

iframe.nested {
  margin-right: -18px;
  margin-left: -18px;
  padding: 16px;
  height: 30em;
  width: 100%;
}

form#contact fieldset {
  border: solid 1px #333;
  margin: 1em 0;
  padding: 0.5em 1em;
}

form#contact label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5em;
}

form#contact legend {
  font-weight: bold;
}

form#contact input[type="text"], form#contact textarea {
  border: solid 1px #333;
  background-color: #f9f9f9;
  color: #333;
  margin-bottom: 0.5em;
  padding: 0.5em;
}

form#contact textarea {
  height: 10em;
  width: 47em;
}

form#contact select {
  font-size: 13px;
  margin-bottom: 0.5em;
}

form#contact input[type="submit"], form#contact input[type="reset"] {
  font-size: 13px;
  margin: 0 0 0.5em;
}

form#contact label > span {
  font-weight: normal;
}
